<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
     <!-- <a class="nav-link">Employee List</a>  replaced down with app-routing.module.ts link below -->
     <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>

        </li>
        <li class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
        </li>
    </ul>

</nav>



<h1 class="text-center">{{title}}</h1>
<div class="container">
<!-- <app-employee-list></app-employee-list> -->   <!--replaced by <router-outlet></router-outlet> -->

<router-outlet></router-outlet>
</div>
<footer class= "footer">
    <div class= "container">
      <span>All Rights Reserded 2022 @CRUD-app For Practice</span>  <!-- Now go to style.css and desgin footer -->
    </div>

</footer>